@font-face {
  font-family: 'Butler';
  src: url('../public/Butler_Regular.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Butler';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
